<div class="login">
  <form [formGroup]="loginForm">
    <div class="form-group">
      <input type="text" class="form-control" formControlName="email" placeholder="Email" required="required"
        autocomplete="on">
    </div>

    <app-field-error-display [displayError]="isFieldValid('email')" errorMsg="Please enter a valid email">
    </app-field-error-display>

    <div class="form-group">
      <input type="password" class="form-control" formControlName="password" placeholder="Password" required="required"
        autocomplete="on">
    </div>
    <app-field-error-display [displayError]="isFieldValid('password')" errorMsg="Please enter your password">
    </app-field-error-display>

    <div class="alert" *ngIf="serverErrorMessages">
      {{serverErrorMessages}}
    </div>

    <input type="submit" (click)="onSubmit()" class="btn btn-primary btn-block" value="Login">
    <div class="form-footer" data-toggle="modal" data-target="#myModal">
      <a>Forgot Your password?</a>
    </div>

  </form>
  <!-- Error message -->
  <div class="alert" *ngIf="serverErrorMessages">
    {{serverErrorMessages}}
  </div>
</div>