<div style="height: 100%">
  <div class="modal-dialog">
    <div class="modal-content" style="box-shadow: 0 20px 30px 0px #888;
    border-radius: 15px;">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
        <h1 class="text-center">What's My Password?</h1>
      </div>
      <div class="modal-body">
        <div class="col-md-12">
          <div class="panel panel-default">
            <div class="panel-body">
              <div class="text-center">
                <p>Reset Your Password</p>
                <div class="panel-body">
                  <fieldset>
                    <div class="form-group" style="text-align:-webkit-center">
                      <input class="form-control input-lg text-center text-capitalize" [(ngModel)]="password"
                        placeholder="Password" name="password" type="password">

                      <input class="form-control input-lg text-center text-capitalize" style="margin-top:20px"
                        [(ngModel)]="confirmPassword" placeholder="Confirm Password" name="confirmPassword"
                        type="password">
                    </div>

                    <input class="btn btn-lg btn-primary btn-block" (click)="resetpassword()" value="Reset Password"
                      type="submit">

                  </fieldset>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button class="btn" data-dismiss="modal" aria-hidden="true">Cancel</button>
      </div>
    </div>
  </div>
</div>